body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
}
body.login-page, html.login-page {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/fondo-inicio-sesion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
